# http://EditorConfig.org

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{c,h}]
indent_style = tab
indent_size = 4

[*.py]
indent_size = 4
indent_style = space

[meson.build]
indent_size = 4
indent_style = tab

[CMakeLists.txt]
indent_size = 2
indent_style = space
